body 
{
	background:#FFFBD1; 
	margin: 0;
	padding: 0;

}

.header
{
	background-color: #FFFFAF; 
	border-radius: 10px;
	position: fixed;
	overflow: hidden;
	margin:0;
	top:0;
	display: block;
	clear: both;


}

table
{
	table-layout: fixed;
	text-align: center;
	
	
	
	
} 

td
{
	border: 0px solid black;
	background: #4FBA29;
	padding: none;
	margin: none
	text-transform: capitalize;
	height: 2em; 
	border-radius: 10px;
	color: white;
	font-size: 20px;
	padding: 7px 0 7px 0;
	word-wrap: break-word;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;


}

td:hover
{
	background-color: #46AE21;
}

.container
{
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 50px;
	flex-direction: column;
}


img
{
	width: 600px;
	height: 500px;
	border-radius: 15px;
	box-shadow: 12px 12px 10px #00000050, -12px -12px 10px #ffffff90;
}

.product
{
	text-align: center;
	font-weight: 700;
	font-size: 30px ;
	margin-top: 40px; 	
	clear: both;
	transition: transform .5s;

}
.product:hover
{
	transform: scale(1.13);
	overflow: hidden;
	}
