body 
{
	background:#ffebeb; 
	margin: 0;
	padding: 0;

}

.header
{

	border-radius: 10px;
	position: fixed;
	overflow: hidden;
	margin:0;
	top:0;
	display: block;
	clear: both;


}

table
{
	table-layout: fixed;
	text-align: center;
	
	
	
	
} 

a
{
	text-decoration: none;
	color:white;
}

td
{
	border: 0px solid black;
	background:#FF66CC;
	padding: none;
	margin: none
	text-transform: capitalize;
	height: 3em; 
	border-radius: 10px;
	color: white;
	font-size: 24px;
	padding: 7px 0 7px 0;
	word-wrap: break-word;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	font-weight: 900;



}

td:hover
{
	background-color: #46AE21;
}



.container
{
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 50px;
	flex-direction: column;
}


img
{
	width: 600px;
	height: 500px;
	border-radius: 15px;
	box-shadow: 12px 12px 10px #00000050, -12px -12px 10px #ffffff90;
}

.product
{
	text-align: center;
	font-weight: 700;
	font-size: 30px ;
	margin-top: 40px; 	
	clear: both;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: box-shadow, transform;
	padding: 40px;

}
.product:hover, .product:focus, product:active 
{
	-webkit-transform: scale(1.13);
	transform: scale(1.13);
	overflow: hidden;
	}
